@{
    ViewBag.Title = "Contact Us.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    A Happy Place<br />
    Thousand Oaks, CA 91361<br />
    <abbr title="Phone">P:</abbr>
    805.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@wareitsmade.com">info@WareItsMade.com</a><br />
</address>